
.row
  .col-xs-5.col-xs-offset-1
    = markdown(ENV['INVOICE_DETAILS'])
  .col-xs-3.col-xs-offset-3
    .hidden-print
      = image_tag(invoice.conference.picture.thumb.url)
    = wicked_pdf_image_tag invoice.conference.picture.thumb.url

  %p{ style: 'height:100px' }
.row
  .col-xs-12.col-md-12.col-lg-12
    %h1.text-center
      %b Invoice

    %p{ style: 'height:100px' }
.row
  .col-xs-3.col-xs-offset-1
    %h5
      .text-muted
        Invoice No
      = invoice.no
  .col-xs-4
    .text-muted
      Date
    = invoice.date.strftime('%d-%m-%Y')

  .col-xs-4
    = markdown(invoice.recipient)
  %p{ style: 'height:100px' }

  .row
    .col-xs-10.col-xs-offset-1
      %table.table.table-hover.table-condensed.table-invoice#table-tickets
        %thead
          %th.text-center Description
          %th.text-center{ style: 'white-space: nowrap' } Quantity
          %th.text-right{ style: 'nowrap' } Price
          %th.text-right Total
        %tbody
          - invoice.description.each do |item|
            %tr
              %td.text-center= item[:description]
              %td.text-center= item[:quantity]
              %td.text-right= item[:price]
              %td.text-right= item[:quantity].to_f * item[:price].to_f
          %tr
            %td.text-right{ colspan: 3 } Subtotal
            %td.text-right{style: 'white-space: nowrap'}= invoice.total_amount
          %tr
            %td.text-right{ colspan: 3 }
              VAT #{ENV['VAT_PERCENT'].to_f}%
            %td.text-right{style: 'white-space: nowrap'}= invoice.vat

          %tr
            %td.text-right{ style: 'white-space: nowrap', colspan: 3 }
              %b Total
            %td.text-right{ style: 'white-space: nowrap' }
              %b= invoice.payable
