= render partial: 'invoices/invoice_header'
.row
  .col-xs-12.col-md-12.col-lg-12
    %h1.text-center
      %b INVOICE

.row
  .col-xs-12.col-md-12
    %table.table.table-bordered
      %tr
        %td
          .col-xs-8
            %dl.invoice
              %dt{ style: 'text-align: left'} Invoice number
              %dd
                = ':'
                = invoice.no
            %dl.invoice
              %dt{ style: 'text-align: left'}
                Date
              %dd
                = ':'
                = invoice.date.strftime('%Y-%m-%d')
          .col-xs-4
            = markdown(invoice.recipient)

.row
  .col-xs-12.col-md-12
    %table.table.invoice-table
      %thead
        %th Pos
        %th Description
        %th Qty
        %th.text-right Price
        %th.text-right Amount
      %tbody
        - invoice.description.each.with_index do |item, index|
          %tr
            %td= index
            %td= item[:description]
            %td
              = item[:quantity]
              -# currency
            %td.text-right= number_with_precision(item[:price], precision: 2)
            %td.text-right= number_with_precision(item[:quantity].to_f * item[:price].to_f, precision: 2)
        %tr
          %td
          %td{ colspan: 3 }
            %b Net total
          %td.text-right{ style: 'white-space: nowrap' }
            %b= number_with_precision(invoice.total_amount, precision: 2)
        %tr
          %td
          %td.text-left
            %b VAT
          %td
            %b #{ENV['VAT_PERCENT'].to_f}%
          -# currency
          %td.text-right
            %b= number_with_precision(invoice.total_amount, precision: 2)
          %td.text-right{ style: 'white-space: nowrap' }
            %b= number_with_precision(invoice.vat, precision: 2)

        %tr
          %td
          %td{ style: 'white-space: nowrap', colspan: 3 }
            %b Total due
          %td.text-right{ style: 'white-space: nowrap' }
            %b= number_with_precision(invoice.payable, precision: 2)

    %br
    %p
      Stichting EuroBSDCon Foundation is not VAT registered

.hidden-print
  = render template: 'pdfs/footer'
