.row
  .col-md-12
    .page-header
      %h1
        = @invoice.new_record? ? 'New invoice' : 'Edit Invoice'

      .text-muted
        User: #{@user.try(:name)}
        (#{@user.email})

.row
  .col-md-12
    = semantic_form_for @invoice, url: @url do |f|
      .col-md-3
        = f.input :no
      .col-md-3.col-md-offset-2
        = f.input :date, as: :string, input_html: { id: 'registration-period-start-datepicker', readonly: 'readonly' }
      .col-md-6
        = f.input :tickets, collection: @user_tickets_collection, selected: @user_tickets.keys.pluck(:id), multiple: true
        = f.input :description, label: "Ticket Name, Quantity, Total Price", input_html: { rows: 2, data: { provide: 'markdown-editable' } }, hint: markdown_hint
        .tickets-description

      .col-md-4
        = f.input :total_amount
        = f.input :vat_percent, label: 'VAT percent (%)'
        = f.input :vat
        = f.input :payable
        %input{ name: 'payment_id', type: 'hidden', value: @payment.id }

      = f.submit 'Save', class: 'btn btn-primary'

:javascript
  $("#invoice_ticket_purchase_ids").change(function () {
    // $('#invoice_description').text("Ticket Name \t Quantity \t Total Price");
    $('#invoice_description').text('')
    var rows = $('#invoice_ticket_purchase_ids :selected').length;

    $('#invoice_ticket_purchase_ids option').each(function() {
      if($(this).is(':selected')) {
        var selected = $(this);
        var text = "\nTicket " + selected.data('ticket-name') + "\t" + selected.data('quantity') + "\t" + selected.data('total-price');

        $('#invoice_description').attr('rows', rows+1);
        $('#invoice_description').append(text);
      }
    });
  });
