- if shipment
  - carrier = shipment[:carrier]
  - track_no = shipment[:track_no]
  - swag = shipment[:swag]
  - boxes = shipment[:boxes]

.row
  .col-md-3
    = label_tag 'carrier_name'
    = text_field_tag 'sponsor[shipments][][carrier]', carrier, autofocus: true, class: 'form-control'
    = hidden_field_tag 'sponsor[shipments][][available]', type, class: 'form-control'
    = hidden_field_tag 'sponsor[shipments][][delivered]', type, class: 'form-control'

  .col-md-3
    = label_tag 'tracking no'
    = text_field_tag 'sponsor[shipments][][track_no]', track_no, class: 'form-control'

  .col-md-3
    = label_tag 'No of boxes in this shipment'
    = number_field_tag 'sponsor[shipments][][boxes]', boxes, min: 1, class: 'form-control'

  - if @sponsor.swag.present?
    .col-md-3
      = label_tag 'Which swag is included?'
      = select_tag 'sponsor[shipments][][swag]', options_for_select(@sponsor.swag.collect{ |x| x[:type]}, swag), { multiple: :multiple }
