- if @conference.sponsors.confirmed.with_shipment.any?
  .row
    .col-md-12
      %table.table.table-hover.datatable#sponsors
        %thead
          %th Name
          %th Amount
          %th Level
          %th Swag
          %th Shipments
          %th Actions
        %tbody
          - @conference.sponsors.confirmed.with_shipment.each do |sponsor|
            %tr
              %td= sponsor.name
              %td= sponsor.amount
              %td= sponsor.sponsorship_level.title
              %td
                - sponsor.swag.each do |swag|
                  = "#{swag[:type]}: #{swag[:quantity]}"
                  %br
              %td
                - sponsor.shipments.each do |shipment|
                  = "#{shipment[:swag]}"
                  .text-muted
                    = "#{shipment[:carrier]}(#{shipment[:track_no]})"

                  
              %td= render partial: 'actions', locals: { sponsor: sponsor }
