- type = swag[:type] if swag
- quantity = swag[:quantity] if swag

.row
  .col-md-5
    = label_tag 'Kind'
    = text_field_tag 'sponsor[swag][][type]', type, class: 'form-control'
    = hidden_field_tag 'sponsor[swag][][available]', type, class: 'form-control'
    = hidden_field_tag 'sponsor[swag][][delivered]', type, class: 'form-control'

  .col-md-5
    = label_tag 'Quantity'
    = text_field_tag 'sponsor[swag][][quantity]', quantity, class: 'form-control'
  .col-md-2
    = link_to 'javascript: void(0)', onclick: 'remove_field($(this))', title: 'Remove field' do
      %i.fa.fa-times.btn.btn-danger

:javascript
  function remove_field($this) {
    // Get .row
    $this.parent().parent().remove();
  }
