.row
  .col-md-12
    .page-header
      %h1
        Sponsors
        - if @sponsors.confirmed.any?
          = "(#{@sponsors.confirmed.length})"

      %p.text-muted
        People supporting your conference
.row
  .col-md-12
    %div{ role: 'tabpanel' }
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle' => 'tab', href: '#sponsorships', role: 'tab'} Sponsorships
        %li
          %a{'data-toggle' => 'tab', href: '#contacts', role: 'tab'} Potential Sponsors
        %li
          %a{'data-toggle' => 'tab', href: '#shipments', role: 'tab'} Shipments
      .tab-content
        #sponsorships.tab-pane.active
          = render partial: 'confirmed'
        #contacts.tab-pane
          = render partial: 'contacts'
        #shipments.tab-pane
          = render partial: 'shipments'
.row
  .col-md-12
    = link_to 'Add Sponsor', new_admin_conference_sponsor_path(@conference.short_title), class: 'btn btn-primary pull-right'
