.row
  .col-md-12
    .page-header
      %h1= @sponsor.name
      .text-muted
        = @sponsor.description
        |
        .fa.fa-email
        = link_to @sponsor.website_url, @sponsor.website_url
.row
  .col-md-12
    - if @sponsor.picture?
      = image_tag(@sponsor.picture.thumb.url, width: '20%')
    %dl.dl-horizontal
      %dt State
      %dd= @sponsor.state
      %dt Sponsorship Level
      %dd= @sponsor.sponsorship_level.try(:name)
      %dt Invoiced
      %dd= @sponsor.invoice_sent_at
      %dt Payment
      %dd
        = @sponsor.amount
        - if @sponsor.paid
          .fa.fa-check.text-success
        - else
          .fa.fa-times.text-danger
      %dt Banner
      %dd
        - if @sponsor.has_banner
          .fa.fa-check.text-success
        - else
          .fa.fa-times.text-danger
      %dt Shipments
      %dd= @sponsor.shipments.length
      .page-header
        %h2 Swag
      = render partial: 'sponsor_swag', locals: { sponsor: @sponsor }
