!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %style
      = Rails.application.assets.find_asset('application.css').to_s
      = Rails.application.assets.find_asset('strap-on.scss').to_s
      = Rails.application.assets.find_asset('osem-pdf.scss').to_s
      = Rails.application.assets
  %body
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-12
          .main#content
            test
            = yield
